@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Libre Baskerville', serif;

}

/* body{

    display: flex;
    
} */

/* My logo style */

.logo img{
    width: 100px;
    margin-top: 20px;
    margin-left: 80px;
    border-radius: 50%;
}

.logo{
    overflow: hidden;

}
/* logo style ends here */




.menu-bar{
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 150, 0.726);
    height: 110vh;
    /* width: 20%; */
    width: 80px;
    padding: 0 20px;
    transition: all 0.5s;
    overflow: hidden;

}

.menu-bar:hover{
    width: 20%;
    transition: 0.8s;

}


.fullbody{
    display: flex;
      

}

/* body{
    display: flex;
} */

ul li{
padding: 14px;
margin: 8px 0;


}


ul li a{
    color: white;

}

ul a{
    display: flex;
    gap: 18px;


}

ul i{

    font-size: 20px;

}

.sign-out{
    
    background-color: red;
    /* width: 100%; */
    border-radius: 10px;

    
}

/* this is the sign-up class */
.Signup{
    
    background-color: rgb(0, 255, 98);
    /* width: 100%; */
    border-radius: 10px;

    
}


ul{
    position: relative;
    height: 80vh;
    width: 70%;
   
}

ul li:hover{
    background-color: red;
    border-radius: 8px;

}

ul a span{
    overflow: hidden;

}


.content-main{ 
    
    background-image: url(./Image/gray-marble.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    

}

/* Header stlye begins (Includes profile,Search bar and welcome note) */

.header-main{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px ;
    align-items: center;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 5px lightgray;



}





/* Header begins here */



.header-title h1{
    color: rgba(51, 51, 150, 0.726);
    font-size: 20px;
}


.header-title span{
    color: #333396b9;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: bolder;
    display: block;
    padding-bottom: 10px;
    margin-right: 5px;

}

/* header ends here */

/* Profile styling begins here */

.profile-img img{
    width: 60px;
    border-radius: 50%;


}
.profile-info{

    display: flex;
    gap: 100px;
    align-items: center;


}

.search-box input{
    padding: 7px;
    background-color: transparent;
    outline: none;
    border-radius: 10px;
    border: 1px solid gray;


}

.search-box{
    position: relative;
}

.search-box button{
        padding: 7px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #333396b9;
        color: white;
        border-radius: 10px;
        border: 1px solid gray;
}   

.search-box button :hover{
    transform: scale(1.1);
}

/* My card design starts from here */

.card-container{

    background-color: white;
    margin-top: 10px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    height: 200px;
 

}

.card-container h1{
    color: rgba(51, 51, 150, 0.726);
    font-size: 20px;
    padding-bottom: 10px;

}

.card-flex{

    display: flex;
    gap: 3rem;

}

.card-student{
    background: rgb(178, 235, 198);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 23.5%;
    height: 120px;
    border-radius: 10px;
    transition: all 0.5s ease-out;
    box-shadow: 2px 2px 2px 1px goldenrod;
    cursor: pointer;


}
.card-student:hover{
    transform: translate(-5px);
    
}.card-header{
    display: flex;
    justify-content: space-around;

}

.passcode-info{
    display: flex;
    flex-direction: column;
}

.icon{
    font-size: 20px;
    background-color: #333396b9;
    color: white;
    padding: 10px;
    border-radius: 50%;

}

.lightpurple{

    background-color: rgb(204, 99, 204);
}

.light-green{

    background-color: lightgreen;
}

.lightred{
    background-color: rgb(241, 15, 15);
}



.card-flex > .card-student:nth-child(1){

    background-color: rgb(211, 193, 34);

}

.card-flex > .card-student:nth-child(2){

    background-color: lightgoldenrodyellow;

}

.card-flex > .card-student:nth-child(3){

    background-color: lightblue;

}

.card-flex > .card-student:nth-child(4){

    background-color: lightpink;

}


/* Assignment container starts here */




.assignment-container{

    background-color: white;
    margin-top: 10px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
}
.assignment-container h1{

    color: rgba(51, 51, 150, 0.726);
    font-size: 20px;
    padding-bottom: 1rem;



}



.top-img img{

    width: 50px;
    border-radius: 50%;

}
.assignment-flex{

display: flex;

}


.assignment-subject{

    flex: 2;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 3px 10px 0 rgb(143, 122, 122);
    height: 70px;
    align-items: center;
    border-radius: 10px;
    border-left: 3px solid #02021b;
     
}

.courses h3{

    font-size: 15px;
    padding-bottom: 5px;
    color:  #02021b;
    font-weight: bold;


}


.topic{

    font-size: 14px;
    font-family: serif; 
    font-style: italic;

}


.btn-btn{

    background-color: #b3b3da;
    padding: 7px 10px;
    border-radius: 10px;
    font-weight: bolder;
    color: #02021b;
    

}
.top-performer{

    flex: 1;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 3px 10px 0 rgb(143, 122, 122);
    height: 70px;
    align-items: center;
    border-radius: 10px;
    border-right: 3px solid #02021b;



}