.wrapper{
    width: 38%;
    margin: 10% 30%;
    height: 45vh;
    background-color: red;
    padding: 2px 0px 4px;
    border-radius: 4px;
    

}

.envelope{
    width: 99%;
    height: 45vh;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 0 auto;
    
}

span{
    font-size: 130px;
    position: absolute;
    left: 42%;
    top: 25%;
    color: firebrick;


}

p{
    position: absolute;
    left: 35%;
    bottom: 36%;
    color: forestgreen;
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia,
     'Times New Roman', Times, serif;
}

/* my responsiveness for tablet */

@media screen and (max-width:980px) {
    
span{
    font-size: 100px;
    color: blue;
    top: 130px;
    }

p{
position: absolute;
top: 260px;
left: 36%;
font-size: 15px;
color: firebrick;
}
}


/* my responsiveness for phone */
@media (min-width: 450px) and (max-width:780px) {
    
    span{
        font-size: 70px;
        color: green;
        left: 44%;

        }


p{
    position: absolute;
    top: 240px;
    left: 37%;
    font-size: 12px;
    color: maroon;
    }
    }