
*{
    font-family: sans-serif;
    margin-right: 0 auto;
    text-decoration: none;
    list-style-type: none;
}

.container{
    background-color:whitesmoke;
    width: 70%;
}

.container span{
    margin-left: -10%;
    top: 80px;
}

.menu-bar span a{
    color: gold;
}

.bar{
    color: #000;
    position: relative;
    left: 87%;
    bottom: 40px;
    padding: 5px;
}

.container-section img{
width: 90%;
border-radius: 10px;
}

.progress{
    background-color: beige;
    width: 22%;
    padding: 15px 8px;
}

.progress-butt{
    font-size: 10px;
}

.fa-ellipsis{
    margin-left: 65%;
}

.abt{
    padding: 5px;
}

.abt-one{
    text-decoration: underline;
    padding: 5px;
    
}

.video-course{
    background-color: whitesmoke;
    width: 22%;
    font-size: 15px;
   padding-right: 10px;
   
}

.video-course a{
    color: #000;
}
.pip{
    position: absolute;
    left: 15%;
    bottom: 80%;
}


ul li{
    border-radius: 10px;
    
}


.one{
    background-color: lightseagreen;
    padding: 15px;
    margin-bottom: 8px;
    margin-left: -15%;
   
}

.two{
    background-color: lightgrey;
    padding: 15px;
    margin-bottom: 8px;
    margin-left: -15%;
    
}

.three{
    background-color: lightgray;
    padding: 15px;
    margin-bottom: 8px;
    margin-left: -15%;
}

.four{
    background-color: lightgrey;
    padding: 15px;
    margin-bottom: 8px;
    margin-left: -15%;
}
.five{
    background-color: lightgrey;
    padding: 15px;
    margin-bottom: 8px;
    margin-left: -15%;
}


.one a{
    color: white;
}

.fa-lock{
    background-color: white;
    padding: 5px;
    border-radius: 15px;
}

.audio{
    background-color: whitesmoke;
    width: 22%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 10px;
}

.module{
    background-color: whitesmoke;
    width: 22%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    padding-left: 10px;
    
}

.last-part a{
    color: black;
}

.last-part a{
    padding-left: 120px;
}



.course-container{
    position: absolute;
    /* right: -10%; */
    top: 20px;
    width: 100%;
    left: 75%;
    
}


/ * *******mobile responsiveness******** */


@media (min-width:330px) and (max-width:1200px) {
    .course-container{
        position: absolute;
        /* right: -10%; */
        top: 20px;
        width: 0%;
        /* left: 75%; */

        
    }
        
    }