
body{

    margin: 0;
    padding: o;
    background-color: brown;
    font-family: 'Inter', sans-serif;
}

h1{
    color: blue;
    font-weight: bold;
    margin-left: 35%;
    padding-top: 20px;
}

.lab1{
    position: relative;
    top: 15px;
    font-size: 10px;
    margin-left: 23px;
    color: gray;
    }
.lab2{
    position: relative;
    top: 45px;
    font-size: 10px;
    margin-left: 23px;
    color: gray;        
}

.inpass1{
border: none;
padding: 10px;
width: 80%;
/* border-radius: 10px; */
border-bottom: 2px solid;    
}

.inpass2{
    margin-top: 30px;
    border: none;
    padding: 10px;
    width: 80%;
    /* border-radius: 10px; */
    border-bottom: 2px solid;    
    }
.btn{
    background-color: rgb(4, 4, 153);
    padding: 8px 50px;
    border-radius: 10px;
    margin: 50px;
    margin-left: 85px;
    color: white;
    border: none;
}

.main-container{
background-color: white;
width: 50%;
margin: auto;
height:80vh;
margin-top: 100px;
border-radius: 50px;
}

.form-div{
    /* background-color: rgb(194, 122, 122); */
    width: 50%;
    height: 35vh;
    margin: auto;
    padding: 20px; 
    margin-top: 10px;  
    
    
}

.fa-eye{
    position: relative;
    left: 286px;
}

.lines{
    display: flex;
}

.content1{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.social{
    /* background-color: blue; */
    width: 56%;
    margin-left: 149px;
}

.b4line{
    position: relative;
    top: 14px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 20px;
}

.afterline{
    position: relative;
    top: 14px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 10px;
}



.sub-social{
    display: flex;
    /* margin: auto; */
}
.google-div{
    width: 1%;
    margin-left: 100px;
    padding:0 20px;
    border-radius: 50%;
    color: red;
    font-size: 30px;
    
}
.facebook-div{
    width: 1%;
    padding: 0 20px;
    border-radius: 50%;
    font-size: 30px;
    color: rgb(7, 39, 216);
}
.twitter-div{
    width: 1%;
    padding:0 20px;
    border-radius: 50%;
    font-size: 30px;
    
}
h3{
   text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    font-size: 15px;
}
a{
    text-decoration: none;
}


