@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Libre Baskerville', serif;

}

/* body{

    display: flex;
    
} */

/* My logo style */

.logo img{
    width: 100px;
    margin-top: 20px;
    margin-left: 80px;
    border-radius: 50%;
}

.logo{
    overflow: hidden;

}
/* logo style ends here */




.menu-bar{
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 150, 0.726);
    height: 110vh;
    /* width: 20%; */
    width: 80px;
    padding: 0 20px;
    transition: all 0.5s;
    overflow: hidden;

}

.menu-bar:hover{
    width: 20%;
    transition: 0.8s;

}


.fullbody{
    display: flex;
      

}

/* body{
    display: flex;
} */

ul li{
padding: 14px;
margin: 8px 0;


}


ul li a{
    color: white;

}

ul a{
    display: flex;
    gap: 18px;


}

ul i{

    font-size: 20px;

}

.sign-out{
    
    background-color: red;
    /* width: 100%; */
    border-radius: 10px;

    
}

ul{
    position: relative;
    height: 80vh;
    width: 70%;
   
}

ul li:hover{
    background-color: red;
    border-radius: 8px;

}

ul a span{
    overflow: hidden;

}


.content-main{ 
    
    background-image: url(./Image/gray-marble.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    

}

/* Header stlye begins (Includes profile,Search bar and welcome note) */

.header-main{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px ;
    align-items: center;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 5px lightgray;



}





/* Header begins here */



.header-title h1{
    color: rgba(51, 51, 150, 0.726);
    font-size: 20px;
}


.header-title span{
    color: #333396b9;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: bolder;
    display: block;
    padding-bottom: 10px;
    margin-right: 5px;

}

/* header ends here */

/* Profile styling begins here */

.profile-img img{
    width: 60px;
    border-radius: 50%;


}
.profile-info{

    display: flex;
    gap: 100px;
    align-items: center;


}

.search-box input{
    padding: 7px;
    background-color: transparent;
    outline: none;
    border-radius: 10px;
    border: 1px solid gray;


}

.search-box{
    position: relative;
}

.search-box button{
        padding: 7px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #333396b9;
        color: white;
        border-radius: 10px;
        border: 1px solid gray;
}   

.search-box button :hover{
    transform: scale(1.1);
}

/* My card design starts from here */

.card-container{

    background-color: white;
    margin-top: 10px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    height: 200px;
 

}

.card-container h1{
    color: rgba(51, 51, 150, 0.726);
    font-size: 20px;
    padding-bottom: 10px;

}

.card-flex{

    display: flex;
    gap: 3rem;

}

.card-student{
    background: rgb(178, 235, 198);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 23.5%;
    height: 120px;
    border-radius: 10px;
    transition: all 0.5s ease-out;
    box-shadow: 2px 2px 2px 1px goldenrod;
    cursor: pointer;


}
.card-student:hover{
    transform: translate(-5px);
    
}.card-header{
    display: flex;
    justify-content: space-around;

}

.passcode-info{
    display: flex;
    flex-direction: column;
}

.icon{
    font-size: 20px;
    background-color: #333396b9;
    color: white;
    padding: 10px;
    border-radius: 50%;

}

.lightpurple{

    background-color: rgb(204, 99, 204);
}

.light-green{

    background-color: lightgreen;
}

.lightred{
    background-color: rgb(241, 15, 15);
}



.card-flex > .card-student:nth-child(1){

    background-color: rgb(211, 193, 34);

}

.card-flex > .card-student:nth-child(2){

    background-color: lightgoldenrodyellow;

}

.card-flex > .card-student:nth-child(3){

    background-color: lightblue;

}

.card-flex > .card-student:nth-child(4){

    background-color: lightpink;

}


/* Assignment container starts here */


.assignment-container{

    background-color: white;
    margin-top: 10px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
}
.assignment-container h1{

    color: rgba(51, 51, 150, 0.726);
    font-size: 20px;
    padding-bottom: 1rem;
}



.top-img img{

    width: 50px;
    border-radius: 50%;

}

.assignment-flex{
display: flex;
}


progress{
    width: 70%;
}


.assignment-subject{

    flex: 2;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 3px 10px 0 rgb(143, 122, 122);
    height: 70px;
    align-items: center;
    border-radius: 10px;
    border-left: 3px solid #02021b;
    
     
}

.courses h3{

    font-size: 15px;
    padding-bottom: 5px;
    color:  #02021b;
    font-weight: bold;
}


.topic{
    font-size: 14px;
    font-family: serif; 
    font-style: italic;
}


.btn-btn{

    background-color: #b3b3da;
    padding: 7px 10px;
    border-radius: 10px;
    font-weight: bolder;
    color: #02021b;
    

}
.top-performer{

    flex: 1;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 3px 10px 0 rgb(143, 122, 122);
    height: 70px;
    align-items: center;
    border-radius: 10px;
    border-right: 3px solid #02021b;

}

/* 
||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||
THis is ******MY COURSE****** section 
It was added by Osarogie Igbinosa     
||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||
*/



/* Here is the container class that held the flex */

.container{
    display: flex;
    /* column-width: 30%; */
    background-color: rgb(209, 233, 233);
    width: 93%;
    height: 39vh;
    margin-left: 10px;
    /* padding-left: 10px; */
    /* margin-top: 8px; */
    box-shadow: 4px 4px rgb(170, 166, 166);
    border-radius: 16px;
}

.container > div{
    width: 46%;
    height: 37vh;
    background-color: #ffff;
    margin: 5px 2px;
    border-radius: 15px;
    position: relative;
    /* margin-left: 70px; */
    
    
}





/*Action taken when mouse hovers on the div */
.container > div:hover{
    border: 2px Solid blueviolet;
}
/* ///////////////////////////////////// */



/* This is inside the  "first flex div" for
Learn UI Design
|||||||||||||||||||||||||||||||||||||||||||||||
 */

.one .bg{
    width: 84%;
    background-color: darkcyan;
    height: 15vh;
    margin: 15px;
    border-radius: 6px;  
}

.bg img{
    width: 100%;
    height: 100%;
}
.one .bq{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 15px;
}

.bq progress{
    margin-top: 0px;
}

.bq #feg{
    margin-left: 5px;
    font-size: 14px;
}

.one a{
    background-color: blueviolet;
    position: absolute;
    bottom: 4%;
    left: 7% ;
    padding: 6px;
    font-family: Calibri;
    color: white;
    width: 78%;
    text-align: center;
    border-radius: 9px;
    font-size: 17px;
}

/* This is the second flex div  For 
Learn front end development
||||||||||||||||||||||||||||||||||||||||||||||||
*/

.two .bg{
    width: 84%;
    background-color: darkcyan;
    height: 15vh;
    margin: 15px;
    border-radius: 6px; 
}

.two .bq{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 15px;
}


.two a{
    background-color: blueviolet;
    position: absolute;
    bottom: 4%;
    left: 7% ;
    padding: 6px;
    font-family: Calibri;
    color: white;
    width: 78%;
    text-align: center;
    border-radius: 9px;
    font-size: 17px;
}

/* this is the third flex  
for Learn Back end Development
||||||||||||||||||||||||||||||||||||||||||||||
*/

.three .bg{
    width: 84%;
    background-color: darkcyan;
    height: 15vh;
    margin: 15px;
    border-radius: 6px; 
}

.three.bq{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 15px;
}
 

.three a{
    background-color: blueviolet;
    position: absolute;
    bottom: 4%;
    left: 7% ;
    padding: 6px;
    font-family: Calibri;
    color: white;
    width: 78%;
    text-align: center;
    border-radius: 9px;
    font-size: 17px;
}


/* 
MY course div. this is the main container 
for my course 
*/
.my-course-container{
    display: flex;
    width: 93%;
    background-color: white;
    border-right: black;
    height: 55vh;
    margin: 10px auto;
    padding-bottom: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}



.my-course{
    height: 50vh;
    background-color:rgb(209, 196, 196);
    margin: 10px 10px 10px 10px ;
    border-radius: 15px;
    width: 50%;
    position: relative;
    padding-top: 10px;
    /* float: left; */
    box-sizing: border-box;
}

.my-course h2{
    color: rgba(51, 51, 150, 0.726);
    font-size: 20px;
    padding-bottom: 1rem;

    
}

.my-course > a{
    margin-left: 65%;
}

.ref{
    width: 100%;
    padding-left: 20px;
    display: flex;
}

.ref >a{
   margin-left: 60%;
   padding-right: 7px;
   color: black;
}

/*
||||||||||||||||||||||||||||||||||||||||||||||||| 
This is the Upcoming class section 
|||||||||||||||||||||||||||||||||||||||||||||||||
*/
.upcoming-class{
    width: 44%;
    height: 50vh;
    background-color: rgb(209, 196, 196);
    /* float: left; */
    margin: 10px 0px 10px 20px;
    border-radius: 15px;
    padding-top: 10px;
    box-sizing: border-box;
}



.upcoming-class div{
    width: 90%;
    height: 20vh;
    background-color: beige;
    margin: 10px 0px 0px 30px;
    border-radius: 8px;
    position: relative;
    border-left: 4px solid black;
    
}
.upcoming-class p{
    color: rgba(51, 51, 150, 0.726);
}

/* interaction design section */

.upcoming-class > div:nth-of-type(1){
   background-color: whitesmoke;
   margin-bottom: 5px; 
   /* position: relative; */
   padding-top: 4px;
}
.upcoming-class > a, p{
    /* color: black; */
    /* float: left; */
    display: inline;
    margin-left: 30px;
    font-weight: bold;
}

.upcoming-class a{
    margin-left: 45%;
}
.words{
    margin-left: 100px;
 }

.line{
    width: 40%;
    height: 3vh;
    /* background-color: chartreuse; */
    margin: 6px 13px 0px 10px;
    border-right: 2px solid black;
    /* text-align: right; */
    float:left;
 }




hr{
    margin-top: 10px;
}
.image{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 60%;
    left: 10px;
}

.image img{
    width: 40px;
    border-radius: 50%;
}

.designer-name{
    margin-left: 0; 
    position: absolute;
    bottom: 10px;
    left: 55px;
}

.designer-name-1{
   position: absolute;
   bottom: 10px;
   left: 66px;
}
.image-1{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 55%;
    left: 10px;
}
.image-1 img{
    width: 40px;
    border-radius: 50%;
}
.Session{
    margin-left: 100px;
}
/* 
|||||||||||||||||||||||||||||||||||||||||||||||||||
The Progress bar
|||||||||||||||||||||||||||||||||||||||||||||||||| 
*/

.progress-bar{
    background-color: rgb(199, 21, 21);
    margin-top: 10px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    height: 200px;
    margin-bottom: 10px;
    box-sizing: border-box;
    

}



.container-progress {
    background-color: rgb(199, 225, 250);
    margin-top: 160px;
    width: 93% ;
    height: 200px;
    margin-left: 13% auto;
    margin-right: 13% auto;
    padding:30px 30px 70px;
   
}

.see{
    width: 100%;
    display:flex ;
    justify-content: space-around;
    color: saddlebrown;
    position: absolute;
    top: 57%;
}


.container-progress h4{
    position: absolute;
    left: 8px;
    top: -15px;
    font-size: 30px;
    width: 20%;
    text-transform: capitalize;
    font-family:'Gill Sans', 'Gill Sans MT',
    Calibri, 'Trebuchet MS', sans-serif;
}


.all{
    position: absolute;
    right: -50px;
    font-size: 18px;
    width: 20%;
    top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* every design inside my container is ending here
and all effects inside each box is starting from here */

.box_flex{
    display: flex;
}


.frame1 {
    display: grid;
    height: 200px;
    gap: 1rem;
    margin-right: 20px;
    width: 30%;
    border-radius: 10px;
    padding-left: 30px;
    /* grid-template-columns: 20%;  */

}

.a{
    background-color: rgb(147, 199, 251);

}


.b{
    background-color: rgb(143, 218, 143);

}

.c{
    background-color: rgb(189, 114, 250);
}


/* my logo design here */
.logo{
    background-color: cyan;
    height: 30px;
    width: 30%;
    padding: 15px;
    position: relative;
    bottom: 130px;
    right: -160px;
}

/* writtings inside my box here */

.frame_header h2{
    color: blue;
    font-size: 35px;
    font-family: 'Gill Sans',
    'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.frame_info {
    margin-top: 20px;
    font-family: cursive;
    font-size: 22px;
    width: 150%;
    font-weight: bold;
}

.frame_info h5{
    color: darkgreen;
}

.frame_info h6{
    margin-top: -20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    width: 130%;
    
}

.aggregate_1{
    color: blue;
}

.aggregate_2{
    color: red;
}

.aggregate_3{
    color: white;
}




/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||
This is the section For Mobile responsiveness 
||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/


@media screen and (max-width:1239px) {
    .progress-bar{
        background-color: black;
    }

    .my-course-container{
        display: block;
        width: 93%;
        background-color: rgb(114, 106, 106)smoke;
        border-right: black;
        height: 110vh;
        margin: 10px auto;
        padding: 10px 0px;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .upcoming-class{
        width: 58%;
        height: 53vh;  
        margin: auto;
        padding-top: 10px;
        
    }

    .my-course{
        height: 50vh;
        background-color:rgb(209, 196, 196);
        margin: 10px auto ;
        border-radius: 15px;
        width: 58%;
        padding-top: 10px;
        /* float: left; */
        box-sizing: border-box;
    }
}

@media (min-width:905px)and (max-width:1032px){

    .upcoming-class{
        width: 70%; 
    }

    .my-course{
       
        width: 70%;
        
    }
    .assignment-flex{
        display: block;
        }

    .assignment-subject{
            margin-bottom: 28px;
     }
     .top-img{
        position: absolute;
        left: 20%;
     }

     .top-performer{
        position: relative;
     }

     .card-container{
        /* background-color: chartreuse; */
        height: 400px;
     }

     .card-flex{
        /* background-color: red; */
        height: 350px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 0px;
        padding: 10px 15px;
     }
    .card-student{
        width: 55%;
    }
}

@media (min-width:432px)and (max-width:906px){
    .upcoming-class{
        width: 90%; 
    } 

    .my-course{
       
        width: 90%;
        
    }

    .assignment-container{
        height: 40vh;
        /* background-color: red; */
    }

    .assignment-flex{
        display: block;
    
        
        }
    .assignment-subject{
        margin-bottom: 28px;
    }



    
    /* |||||||||||||||||||||||||||||||||||||||||||| */
    .card-container{
        /* background-color: chartreuse; */
        height: 400px;
     }

     .card-flex{
        /* background-color: red; */
        height: 350px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 0px;
        padding: 10px 15px;
     }
    .card-student{
        width: 55%;
        
    }
}
